html{
  background-color:darkgray;
}
.container-fluid {

 background-color:darkgray;
}
input[type="text"]{
  background: transparent;
  color: white;
}
input[type="text"]:focus{
  background: transparent;
  color:white
}